.wrapper {
    
}

.roundRect {
    width: 350px;
    height: 60px;

    background: linear-gradient(60deg,#f1f1f1,#f3f3f3);
    border-radius: 5px;
    /* box-shadow: 1px 1px 1px 1px lightgrey; */
}

.button {
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 20px;

    background: linear-gradient(60deg,#f1f1f1,#f3f3f3);
    border-radius: 5px;

    cursor: pointer;
}

.guideString {
    line-height: 40px;
}