<div class="wrapper" align="center">
  <div class="roundRect">
    <app-ball *ngFor="let number of numbers" [number]="number"></app-ball>
    <div class="guideString" *ngIf="numbers.length == 0">
      아래 생성 버튼을 클릭하세요.
    </div>
  </div>
  <app-option-view *ngIf="includeNumbers.length > 0 || excludeNumbers.length > 0" [includeNumbers]="includeNumbers" [excludeNumbers]="excludeNumbers"></app-option-view>
  <button class="button" mat-raised-button (click)="onClick()">생성</button>
  <div class="option">
    <button class="button" mat-button (click)="onOption()">옵션<img *ngIf="!isOpenOption" class="arrow" src="assets/images/arrow-down.png" width="12px" height="12px">
      <img *ngIf="isOpenOption" class="arrow" src="assets/images/arrow-up.png" width="12px" height="12px">
    </button>
  </div>
  <app-option *ngIf="isOpenOption"></app-option>
</div>