.wrapper {

}

.roundRect {
    width: 500px;
    height: 70px;

    background: linear-gradient(60deg,#f1f1f1,#f3f3f3);
    border-radius: 20px;
    /* box-shadow: 1px 1px 1px 1px lightgrey; */
}

.button {
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 20px;

    background: linear-gradient(60deg,#f1f1f1,#f3f3f3);
    border-radius: 10px;

    cursor: pointer;
}