.wrapper {
    
}

.roundRect {
    width: 350px;
    height: 60px;

    background: linear-gradient(60deg,#f1f1f1,#f3f3f3);
    border-radius: 5px;
    /* box-shadow: 1px 1px 1px 1px lightgrey; */
}

.button {
    margin: 20px 10px 20px 10px;
    border-radius: 5px;

    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
}

.option {
    display: inline-block;

    cursor: pointer;
}

.arrow {
    display: inline-block;
    font-size: 14px;
    margin-left: 4px;
    vertical-align: middle;
}
.guideString {
    line-height: 40px;
}