.resultView {
    border-width: 1px 0px 0px 0px;
    border-color: #ffffff;
    border-style: solid;

    margin-top: 10px;
}

h3 {
    color: #ffffff;
}

.button {
    color: #f0555c;
    margin: 20px 10px 20px 10px;
    border-radius: 5px;

    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

.ballList {
    display: inline-block;
}